body{
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    margin: 0;
}
.wrap{
    min-height: 450px;
}
.success-background{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 450px;
    background-image: url('../images/01.png');
    background-size: cover;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/images/01.png', sizingMethod='scale')\9;
    background-repeat: no-repeat;
    background-position: center top;
}
.container{
    position: absolute;
    height: 50%;
    /*width: 80%;*/
    left: 17%;
    right: 17%;
    min-width: 290px;
    min-height: 260px;
    margin: 0 auto;
    top:8em;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    -moz-opacity: 0.8;
    background: rgba(255, 255, 255, 0.95);
    behavior: url(assets/css/pie.htc);
}
.logo{
    margin-left: 1.5em;
    width: 14em;
    top: 1.5em;
    min-width: 12em;
    position: relative;
}
.container h1{
    color: cadetblue;
    margin-bottom: 10px;
}
.container ul{
    list-style-type: none;
    padding: 0px;
    margin: 3em auto;
}
.container .li-right{
    border-right: 1px solid #000000;
    font-weight: bold;
    font-size: 18px;
    display:inline-block;
    padding: 0px 40px 0px 40px;

}
.container .li-last{
    border-right: none;
}
.container div{
    margin-bottom: 30px;
}
.a{
    color: deepskyblue;
}
.b{
    color: darkorange;
}
.c{
    color: navy;
}
.val{
    font-size: 22px;
}
.li-right .unit{
    color: gray;
}

.getback {
    background-color:#3bb3e0;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#000000;
    border: solid 1px #186f8f;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(44,160,202)),
    color-stop(1, rgb(62,184,229))
    );
    -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    behavior: url(assets/css/pie.htc);
}

.getback:active {
    padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
    top:1px;
    background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(62,184,229)),
    color-stop(1, rgb(44,160,202))
    );
}
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0,0, 0.3);
  background: #000000;
  opacity: .3;
  -webkit-opacity: .3;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 30;
  visibility: hidden;
  padding:0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup-container ul{
	list-style-type:none;
	padding:0;
}
.cd-popup-container a{
	text-decoration:none;
}
.cd-popup.is-visible {
  opacity: .3;
  -webkit-opacity: .3;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 30;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  display:none;
  position: relative;
  list-style-type:none;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0;
  -webkit-opacity: 0;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -moz-border-radius: .25em .25em .4em .4em;
  -webkit-border-radius: .25em .25em .4em .4em;
  /*behavior: url(assets/css/pie.htc);*/
}
.cd-popup-container p {
  padding: 3em 1em;
  background-color:#fff;
  border-radius: .25em .25em .4em .4em;
  -moz-border-radius: .25em .25em .4em .4em;
  -webkit-border-radius: .25em .25em .4em .4em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.yes {
  background: #FD5E55;
  border-radius: 0 0 0 .25em;
}
.yes:hover {
  background-color: #6D8DCD;
}
.no{
  background: #C4CDDF;
  border-radius: 0 0 .25em 0;
}
.no:hover {
  background-color: #6D8DCD;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.cd-popup-container.is-visible{
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  display:block;
  opacity: 1;
  -webkit-opacity: 1;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 100;
}

@media only screen and (min-width: 671px) and (max-width:840px) {
    .container .li-right{
        padding: 0 1em;
        font-size: initial;
    }
}


@media only screen and (min-width: 319px) and (max-width:670px) {
    .wrap{
        text-align: center;
        min-height: 400px;
    }
    .container{
        height: inherit;
        min-height: 300px;
        min-width: 85%;
        left: 4.4%;
        right: 4.4%;
        top:6.6em;
    }
    .logo{
        width: 14em;
        margin: 0 auto;
        position: relative;
    }
    .container .li-right{
        padding: 0 .1em;
        font-size: initial;
    }
    .li-right span{
        font-weight: 12px;
        font-size: 18px;
    }
    .li-right .unit{
        font-weight: 12px;
        font-size: 10px;
        color: gray;
        display: block;
    }
	.cd-popup-container {
		margin: 8em auto;
    }
}
